<div class="breadcrumb">
  <div class="breadcrumb__el">
    <%= link_to 'Charts', years_path%>
  </div>
  <div class="breadcrumb__sep">
    >
  </div>
  <div class="breadcrumb__el">
    <%= @year %>
  </div>
</div>

<h1><%= @year %> Charts</h1>

<% if @weeks.length > 0 %>
  <ol class="week-list">
    <% @weeks.each do |week| %>
      <li class="week-list__el">
        <%= 
          link_to(
            "Week #{week[:week_num]}, #{week[:week_start].strftime('%-d %B')}"\
            " ï¼ #{(week[:week_start] + 6.days).strftime('%-d %B')}",
            entries_index_path(year: @year, week: week[:week_num])
          )
        %>
      </li>
    <% end %>
  </div>
<% else %>
  <p class="empty-state">There are no charts this year.</p>
<% end %>


<%= link_to '+', new_entry_path, class: 'create-button' %>