<p>
  <%= image_tag("/images/artists/#{@artist.id}.jpg", class: 'headline') %>
</p>
<h2><%= @artist.name %></h2>

<% if @artist.songs.present? %>
  <p>
    Songs: <br />
    <% @artist.songs.each do |song| %>
      <%= link_to "\"#{song.title}\"", song_path(song) %> <br />
    <% end %>
  </p>
<% end %>

<p>
  <span class="symbol">✏️</span>
  <%= link_to "Edit", edit_artist_path(@artist) %>
</p>
<p>
  <span class="symbol">🧑‍🎤</span> <%= link_to 'Artists', artists_path %> <br />
  <span class="symbol">🏠</span> <%= link_to 'Home', root_path %>
</p>