<h1><%= @artist.name %></h1>

<% if @artist.songs.present? %>
  <ul class="song-list">
    <% @artist.songs.each do |song| %>
      <li>
        <%= link_to "\"#{song.title}\"", song_path(song) %>
        <%= tag.span song.display_rating, class: "rating #{song.rating_color}" %>
        <% if song.display_symbol? %>
          <span class="symbol">
            <% if song.is_acclaimed %>💎<% end %><%= song.display_fondness %>
          </span>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

<p>
  <span class="symbol">✏️</span>
  <%= link_to "Edit", edit_artist_path(@artist) %>
</p>
<p>
  <span class="symbol">🧑‍🎤</span> <%= link_to 'Artists', artists_path %> <br />
  <span class="symbol">🏠</span> <%= link_to 'Home', root_path %>
</p>