<div class="breadcrumb">
  <div class="breadcrumb__el">
    <%= link_to 'Artists', artists_path %>
  </div>
  <div class="breadcrumb__sep">
    >
  </div>
  <div class="breadcrumb__el">
    <%= @artist.name %>
  </div>
</div>

<h1><%= @artist.name %></h1>


<div class="center-wrapper">
  <% if @songs.length > 0 %>
    <ol class="song-list">
      <% @songs.each do |song| %>
        <li class="song-list__el">
          <%= link_to("\"#{song.title}\"", song_path(song), target: '_blank') %>
          <% 
            if (song.stat_date.present? and
                song.stat_date.median_year.present? and
                song.stat_date.median_week.present?)
          %>— 
            <%= song.median_date.strftime('%-d %B %Y') %>
          <% end %>
        </li>
      <% end %>
    </ol>
    <% if @page_count > 1 %>
      <div class="page-list-wrapper">
        <div class="page-list-title">Pages</div>
        <ol class="page-list">
          <% @page_count.times do |p| %>
            <li class="page-list__el">
              <% if @page != p %>
                <%= link_to p + 1, artist_path(@artist, page: p) %>
              <% else %>
                <b><%= p + 1 %></b>
              <% end %>
            </li>
          <% end %>
        </ol>
      </div>
    <% end %>
  <% end %>
  <ul class="action-list">
    <li class="action-list__el">
      <%= 
        link_to(
          '️✏️️️', edit_artist_path(@artist),
          class: 'icon--small symbol block-link'
        )
      %>
      <div class="icon-text--small">
        <%= link_to 'Edit', edit_artist_path(@artist) %>
      </div>
    </li>
  </ul>
</div>

<%= link_to '+', new_artist_path, class: 'create-button' %>