<div class="breadcrumb">
  <div class="breadcrumb__el">
    <%= link_to 'Charts', years_path%>
  </div>
  <div class="breadcrumb__sep">
    >
  </div>
  <div class="breadcrumb__el">
    <%= link_to @year, weeks_path(year: @year) %>
  </div>
  <div class="breadcrumb__sep">
    >
  </div>
  <div class="breadcrumb__el">
    <%= link_to "Week #{@week}", entries_index_path(year: @year, week: @week) %>
  </div>
  <div class="breadcrumb__sep">
    >
  </div>
  <div class="breadcrumb__el">
    Edit
  </div>
</div>

<h1>Update Entries</h1>

<div class="form">
  <%= 
    form_with(
      url: update_entries_path(year: @year, week: @week), method: :put
    ) do 
  %>
    <ol class="entries-form">
      <% (1..10).each do |position| %>
        <li class="entries-form__el">
          <%= 
            select_tag(
              "entries[songs][#{position}]",
              options_from_collection_for_select(
                Song.includes(:stat_date)
                    .where(
                      {stat_dates: {
                        median_year: ENV.fetch('ENTRY_MEDIAN', '1970')
                      }
                    ).or(
                      Song.includes(:stat_date)
                          .where(stat_dates: {median_year: nil})
                    ).order(:title),
                @entries[position - 1].song_id
              )
            )
          %>
        </li>
      <% end %>
    </ol>
    <div class="form__el--submit">
      <%= submit_tag 'Update' %>
    </div>
  <% end %>
</div>