<div class="breadcrumb">
  <div class="breadcrumb__el">
    <%= link_to 'Charts', years_path%>
  </div>
  <div class="breadcrumb__sep">
    >
  </div>
  <div class="breadcrumb__el">
    <%= link_to @year, weeks_path(year: @year) %>
  </div>
  <div class="breadcrumb__sep">
    >
  </div>
  <div class="breadcrumb__el">
    Week <%= @week %>
  </div>
</div>

<h1>Chart</h1>
<div class="center-wrapper">
  <div class="chart-week">Week <%= @week %>, <%= @year %></div>
  <div>
    <%= @week_start.strftime('%-d %B %Y') %> －
    <%= @week_end.strftime('%-d %B %Y') %>
  </div>
  <div class="chart-navigation">
    <div>
      <span class="symbol">⬅️</span>
      <%= 
        link_to(
          'Prev Week',
          entries_index_path(week: @prev_week.cweek, year: @prev_week.cwyear)
        )
      %>
    </div>
    <div>
      <%= 
        link_to(
          'Next Week',
          entries_index_path(week: @next_week.cweek, year: @next_week.cwyear)
        )
      %>
      <span class="symbol">➡️</span>
    </div>
  </div>
  <ol class="chart">
    <% @entries.each do |entry| %>
      <li class="entry">
        <div class="positional">
          <div class="position"><%= entry.position %></div>
          <div class="state">
            <%= 
              tag.span(
                entry.state[:symbol],
                class: "state-symbol #{entry.state[:color]}"
              )
            %>
            <span class="difference"><%= entry.difference_display %></span>
          </div>
        </div>
        <div class="entry-artwork-container">
          <%= 
            image_tag("/images/songs/#{entry.song.id}.jpg", class: 'entry-artwork')
          %>
        </div>
        <div class="entry-song">
          <div class="song-title">
            <%= link_to("\"#{entry.song.title}\"", song_path(entry.song),
                        target: '_blank')
            %>
          </div>
          <div class="song-artist">
            <%= raw(display_song_artist_with_link(entry.song)) %>
          </div>
        </div>
      </li>
    <% end %>
  </ol>

  <% unless @dropped_entries.empty? %>
    <div class="dropped-entries-title">Dropped Previous Entries</div>
    <ol class="chart">
      <% @dropped_entries.each do |entry| %>
        <li class="entry">
          <div class="positional">
            <div class="position"><%= entry.position %></div>
          </div>
          <div class="entry-artwork-container">
            <%= 
              image_tag("/images/songs/#{entry.song.id}.jpg", class: 'entry-artwork')
            %>
          </div>
          <div class="entry-song">
            <div class="song-title">
              <%= link_to("\"#{entry.song.title}\"", song_path(entry.song),
                          target: '_blank')
              %>
            </div>
            <div class="song-artist">
              <%= raw(display_song_artist_with_link(entry.song)) %>
            </div>
          </div>
        </li>
      <% end %>
    </ol>
  <% end %>
  <p>
</div>

<%= link_to '+', new_entry_path, class: 'create-button' %>