<h1>Chart</h1>
<h2>Week <%= @week %>, <%= @year %></h2>
<p>
  <%= @week_start.strftime('%-d %B %Y') %> -
  <%= @week_end.strftime('%-d %B %Y') %><br />
</p>
<p>
  <span class="symbol">➕</span> <%= link_to 'Create New', new_entry_path %>
  <br />
  <span class="symbol">⬅️</span>
  <%= 
    link_to(
      'Prev Week',
      entries_index_path(week: @prev_week.cweek, year: @prev_week.cwyear)
    )
  %>
  |
  <%= 
    link_to(
      'Next Week',
      entries_index_path(week: @next_week.cweek, year: @next_week.cwyear)
    )
  %>
  <span class="symbol">➡️</span><br />
</p>
<table>
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th class="position">#</th>
      <th>Title</th>
      <th>Artist</th>
      <th>Rating</th>
    </tr>
  </thead>
  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td class="state"><span class="symbol"><%= entry.state %></span></td>
        <td class="difference"><%= entry.difference_display %></td>
        <td class="position"><%= entry.position %></td>
        <td><%= link_to "\"#{entry.song.title}\"", song_path(entry.song) %></td>
        <td><%= entry.song.display_artist %></td>
        <td>
          <%=
            tag.span(
              entry.song.display_rating,
              class: "rating #{entry.song.rating_color}"
            )
          %>
          <% if entry.song.is_liked %><span class="symbol">❤️</span><% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if @dropped_entries.exists? %>
  <h5>Dropped Previous Entries</h5>
  <table>
    <thead>
      <tr>
        <th class="dropped_position">#</th>
        <th>Title</th>
        <th>Artist</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <% @dropped_entries.each do |entry| %>
        <tr>
          <td class="dropped_position"><%= entry.position %></td>
          <td><%= link_to "\"#{entry.song.title}\"", song_path(entry.song) %></td>
          <td><%= entry.song.display_artist %></td>
          <td>
            <%=
              tag.span(
                entry.song.display_rating,
                class: "rating #{entry.song.rating_color}"
              )
            %>
            <% if entry.song.is_liked %><span class="symbol">❤️</span><% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<p>
  <span class="symbol">🗓️</span>
  <%= link_to "This Year", weeks_path(year: @year) %><br />
  <span class="symbol">🏠</span> <%= link_to 'Home', root_path %>
</p>
