<div class="breadcrumb">
  <div class="breadcrumb__el">
    <%= link_to 'Charts', years_path%>
  </div>
  <div class="breadcrumb__sep">
    >
  </div>
  <div class="breadcrumb__el">
    New Entries
  </div>
</div>

<h1>New Entries</h1>

<div class="form">
  <%= form_with url: entries_path, method: :post do %>
    <div class="form__el">
      <%= label_tag 'entries_year', 'Year' %>
      <%= number_field_tag 'entries[year]' %>
    </div>
    <div class="form__el">
      <%= label_tag 'entries_week', 'Week' %>
      <%= number_field_tag 'entries[week]' %>
    </div>
    <ol class="entries-form">
      <% (1..10).each do |position| %>
        <li class="entries-form__el">
          <%= 
            select_tag(
              "entries[songs][#{position}]",
              options_from_collection_for_select(
                Song.order(created_at: :desc).limit(100).all.sort_by(&:title),
                # Song.order(:title).all,
                :id, :display_entry_option
              ), {include_blank: true}
            )
          %>
        </li>
      <% end %>
    </ol>
    <div class="form__el--submit">
      <%= submit_tag 'Create' %>
    </div>
  <% end %>
</div>