<h1>Songs</h1>

<% if @songs.length > 0 %>
  <div class="long-list-wrapper">
    <ol class="long-list">
      <% @songs.each do |song| %>
        <li class="long-list__el">
          <%= 
            link_to song.display, song_path(song)
          %>
          <%=
            tag.span song.display_rating, class: "rating #{song.rating_color}"
          %>
          <% if song.is_acclaimed %><span class="symbol">💎</span><% end %>
          <% if song.fondness != 0 %>
            <span class="symbol"><%= song.display_fondness %></span>
          <% end %>
        </li>
      <% end %>
    </ol>
    <% if @page_count > 1 %>
      <div class="page-list-wrapper">
        <div class="page-list-title">Pages</div>
        <ol class="page-list">
          <% @page_count.times do |p| %>
            <li class="page-list__el">
              <% if @page != p %>
                <%= link_to p + 1, songs_path(page: p) %>
              <% else %>
                <b><%= p + 1 %></b>
              <% end %>
            </li>
          <% end %>
        </ol>
      </div>
    <% end %>
  </div>
<% else %>
  <p class="empty-state">There are no songs.</p>
<% end %>

<%= link_to '+', new_song_path, class: 'create-button' %>