<h1>Songs</h1>

<% if @songs.length > 0 %>
  <div class="song-list-wrapper">
    <ol class="song-list">
      <% @songs.each do |song| %>
        <li class="song-list__el">
          <%= 
            link_to(song.display, song_path(song), target: '_blank')
          %>
          <% 
            if (song.stat_date.present? and
                song.stat_date.median_year.present? and
                song.stat_date.median_week.present?)
          %>— 
            <%= song.median_date.strftime('%-d %B %Y') %>
          <% end %>
        </li>
      <% end %>
    </ol>
    <% if @page_count > 1 %>
      <div class="page-list-wrapper">
        <div class="page-list-title">Pages</div>
        <ol class="page-list">
          <% @page_count.times do |p| %>
            <li class="page-list__el">
              <% if @page != p %>
                <%= link_to p + 1, songs_path(page: p) %>
              <% else %>
                <b><%= p + 1 %></b>
              <% end %>
            </li>
          <% end %>
        </ol>
      </div>
    <% end %>
  </div>
<% else %>
  <p class="empty-state">There are no songs.</p>
<% end %>

<%= link_to '+', new_song_path, class: 'create-button' %>