<h1>New Song</h1>

<%= form_with model: @song do |f| %>
  <p>
    <%= f.label :title, 'Title' %> <br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :artist, 'Artist(s)' %> <br />
    <%= f.collection_select(:artist_id, @artists, :id, :name, {include_hidden: false}, {multiple: true}) %>
  </p>
  <p><%= f.submit 'Create' %></p>
<% end %>

<p>
  <span class="symbol">❌</span> <%= link_to 'Cancel', songs_path %>
</p>