<p>
  <%= image_tag("/images/songs/#{@song.id}.jpg", class: 'headline') %>
</p>
<h1><%= "\"#{@song.title}\"" %></h1>

<p class="song-artists">
  <% @song.artists.each do |artist| %>
    <%= link_to artist.name, artist_path(artist) %> <br />
  <% end %>
</p>


<p>
  <%= tag.span @song.display_rating, class: "rating #{@song.rating_color}" %>
  <% if @song.fondness != 0 %>
    <span class="symbol"><%= @song.display_fondness %></span>
  <% end %>
</p>

<% if @entrance.present? %>
<p>
  <span class="symbol">⛰️</span> 
  #<%= @peak.position %> in 
  <%= 
    link_to(
      "Week #{@peak.week}, #{@peak.year}",
      entries_index_path(year: @peak.year, week: @peak.week)
    )
  %>
  <br />
  <span class="symbol">🏃</span>
  <%= 
    link_to(
      "Week #{@entrance.week}, #{@entrance.year}",
      entries_index_path(year: @entrance.year, week: @entrance.week)
    )
  %> to 
  <%= 
    link_to(
      "Week #{@exit.week}, #{@exit.year}",
      entries_index_path(year: @exit.year, week: @exit.week)
    )
  %>
</p>
<% end %>

<p>
  <% if @song.stream_link.present? %>
    <span class="symbol">🎧</span>
    <%=link_to 'Stream', @song.stream_link, rel: 'external', target: '_blank' %>
    <br />
  <% end %>
  <% if @song.video_link.present? %>
    <span class="symbol">📺</span>
    <%=
      link_to 'Video', @song.video_link, rel: 'external', target: '_blank'
    %>
  <% end %>
</p>

<p>
  <span class="symbol">✏️</span>
  <%= link_to "Edit", edit_song_path(@song) %>
</p>
<p>
  <span class="symbol">➕</span> <%= link_to 'Create New', new_song_path %>
  <br />
  <span class="symbol">‍🎵</span> <%= link_to "Songs", songs_path %> <br />
  <span class="symbol">🏠</span> <%= link_to 'Home', root_path %>
</p>