<p>
  <%= image_tag("/images/songs/#{@song.id}.jpg", class: 'headline') %>
</p>
<h1><%= "\"#{@song.title}\"" %></h1>

<p class="song-artists">
  <%= raw(display_song_artist_with_link(@song)) %>
</p>


<p>
  <%= tag.span @song.display_rating, class: "rating #{@song.rating_color}" %>
  <% if @song.display_symbol? %>
    <span class="symbol">
      <% if @song.is_acclaimed %>💎<% end %><%= @song.display_fondness %>
    </span>
  <% end %>
</p>

<% if @entrance.present? %>
<p>
  <span class="symbol">⛰️</span> 
  <span class="peak-position">#<%= @peak.position %></span> on 
  <%= 
    link_to(
      @peak.week_start.strftime('%-d %B %Y'),
      entries_index_path(year: @peak.year, week: @peak.week)
    )
  %>
  <br />
  <% 
    if (@song.stat_date.present? and
        @song.stat_date.median_year.present? and
        @song.stat_date.median_week.present?)
  %>
    <span class="symbol">⚖️</span> 
    <%= 
      link_to(
        @song.median_date.strftime('%-d %B %Y'),
        entries_index_path(
          year: @song.stat_date.median_year, 
          week: @song.stat_date.median_week
        )
      )
    %>
    <br />
  <% end %>
  <span class="symbol">🏃</span>
  <%= 
    link_to(
      @entrance.week_start.strftime('%-d %B %Y'),
      entries_index_path(year: @entrance.year, week: @entrance.week)
    )
  %> to 
  <%= 
    link_to(
      @exit.week_end.strftime('%-d %B %Y'),
      entries_index_path(year: @exit.year, week: @exit.week)
    )
  %>
</p>
<% end %>

<p>
  <% if @song.stream_link.present? %>
    <span class="symbol">🎧</span>
    <%=link_to 'Stream', @song.stream_link, rel: 'external', target: '_blank' %>
    <br />
  <% end %>
  <% if @song.video_link.present? %>
    <span class="symbol">📺</span>
    <%=
      link_to 'Video', @song.video_link, rel: 'external', target: '_blank'
    %>
  <% end %>
</p>

<p>
  <span class="symbol">✏️</span>
  <%= link_to "Edit", edit_song_path(@song) %>
</p>
<p>
  <span class="symbol">➕</span> <%= link_to 'Create New', new_song_path %>
  <br />
  <span class="symbol">‍🎵</span> <%= link_to "Songs", songs_path %> <br />
  <span class="symbol">🏠</span> <%= link_to 'Home', root_path %>
</p>