<div class="breadcrumb">
  <div class="breadcrumb__el">
    <%= link_to 'Songs', songs_path%>
  </div>
  <div class="breadcrumb__sep">
    >
  </div>
  <div class="breadcrumb__el">
    <%= @song.display %>
  </div>
</div>

<h1><%= "\"#{@song.title}\"" %></h1>

<div class="center-wrapper">
  
  <%= image_tag("/images/songs/#{@song.id}.jpg", class: 'song-artwork') %>

  <div class="song-artists">
    <%= raw(display_song_artist_with_link(@song)) %>
  </div>

  <% if @entrance.present? %>
    <ul class="icon-list">
      <li class="icon-list__el">
        <% peak_link = entries_index_path(year: @peak.year, week: @peak.week) %>
        <%= 
          link_to(
            '️️⛰️', entries_index_path(year: @peak.year, week: @peak.week),
            class: 'icon symbol block-link'
          )
        %>
        <div class="icon-text">
          <a href="<%= peak_link %>">
            <span class="peak-position">#<%= @peak.position %></span>, 
            <%= @peak.week_start.strftime('%-d %B %Y') %>
          </a>
        </div>
      </li>
    </ul>
  <% end %>
  <% if @entrance.present? %>
    <ul class="icon-list song-date-list">
      <li class="icon-list__el song-date">
        <%
          start_link = entries_index_path(
            year: @entrance.year, week: @entrance.week
          )
        %>
        <%= 
          link_to(
            '️️↗️', start_link,
            class: 'icon symbol block-link'
          )
        %>
        <div class="icon-text">
          <%= link_to(@entrance.week_start.strftime('%-d %B %Y'),
                      start_link)
          %>
        </div>
      </li>
      <% 
        if (@song.stat_date.present? and
            @song.stat_date.median_year.present? and
            @song.stat_date.median_week.present?)
      %>
        <li class="icon-list__el song-date" >
          <%
            median_link = entries_index_path(
              year: @song.stat_date.median_year, 
              week: @song.stat_date.median_week
            )
          %>
          <%= 
            link_to(
              '️️⚖️', median_link,
              class: 'icon symbol block-link'
            )
          %>
          <div class="icon-text">
            <%= link_to @song.median_date.strftime('%-d %B %Y'), median_link %>
          </div>
        </li>
      <% end %>
      <li class="icon-list__el song-date">
        <%
          ending_link = entries_index_path(year: @exit.year, week: @exit.week)
        %>
        <%= 
          link_to(
            '↘️', ending_link,
            class: 'icon symbol block-link'
          )
        %>
        <div class="icon-text">
          <%= link_to @exit.week_end.strftime('%-d %B %Y'), ending_link %>
        </div>
      </li>
    </ul>
  <% end %>

  <% if false && @song.stream_apple_music_id.present? %>
    <div class="song-embed">
      <% 
        embed = '<iframe allow="autoplay *; encrypted-media *;" '\
                'frameborder="0" height="150" '\
                'style="width:100%;max-width:660px;overflow:hidden;'\
                'background:transparent;" sandbox="allow-forms allow-popups '\
                'allow-same-origin allow-scripts '\
                'allow-storage-access-by-user-activation '\
                'allow-top-navigation-by-user-activation" '\
                'src="https://embed.music.apple.com/id/album/'\
                "#{@song.stream_apple_music_id}\"></iframe>"
      %>
      <%= raw embed %>
    </div>
  <% end %>
  <% if @song.stream_spotify_id.present? %>
    <div class="song-embed">
      <% 
        embed = '<iframe src="https://open.spotify.com/embed/track/'\
                "#{@song.stream_spotify_id}\" width=\"100%\" height=\"80\" "\
                'frameBorder="0" allowfullscreen="" allow="autoplay; '\
                'clipboard-write; encrypted-media; fullscreen; '\
                'picture-in-picture"></iframe>'
      %>
      <%= raw embed %>
    </div>
  <% end %>
  <% if @song.video_youtube_id.present? %>
    <div class="song-embed">
      <% 
        embed = '<iframe width="560" height="315" '\
                'src="https://www.youtube.com/embed/'\
                "#{@song.video_youtube_id}\" frameborder=\"0\" "\
                'allow="accelerometer; autoplay; encrypted-media; gyroscope; '\
                'picture-in-picture" allowfullscreen></iframe>'
      
      %>
      <%= raw embed %>
    </div>
  <% end %>

  <ul class="action-list">
    <li class="action-list__el">
      <%= 
        link_to(
          '️✏️️️', edit_song_path(@song),
          class: 'icon--small symbol block-link'
        )
      %>
      <div class="icon-text--small">
        <%= link_to 'Edit', edit_song_path(@song) %>
      </div>
    </li>
  </ul>
</div>
<%= link_to '+', new_song_path, class: 'create-button' %>